<footer class="footer">
  <div class="wrapper">
    <div class="footer__copyright">
      &copy; {{ site.time | date: '%Y' }} - Giamir Buoncristiani
    </div>
    <div class="footer__links">
      <ul>
        <li>
          <a href="//twitter.com/giamir" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="Giamir on Twitter">
          </a>
        </li>
        <li>
          <a href="//github.com/giamir" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/github.svg" alt="Giamir on GitHub">
          </a>
        </li>
        <li>
          <a href="//uk.linkedin.com/in/giamir" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/linkedin.svg" alt="Giamir on LinkedIn">
          </a>
        </li>
        <li>
          <a href="//facebook.com/giamir" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/fb.svg" alt="Giamir on Facebook">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
