<header class="header">
  <div class="header__img">
    <a href="/">
      <img src="{{ site.baseurl }}/img/logo.png" alt="Giamir Buoncristiani">
    </a>
  </div>
  <div class="header__bio">
    <p>
      Software Developer <a href="https://www.thoughtworks.com">@ThoughtWorks</a>.<br>
      Agile methodologies devotee.<br>
      JavaScript lover.
    </p>
  </div>
  <!-- <div class="header__follow">
    <a href="https://twitter.com/giamir" class="twitter-follow-button" data-show-count="false"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div> -->
</header>
<nav class="nav">
  <ul>
    <li>
      <a href="/">Posts</a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
  </ul>
</nav>
