/* ==========================================================================
   Variables
   ========================================================================== */

// Colours
$white: #ffffff;
$blue: #12476e;
$dark-blue: #0a263b;
$celestial: #2799ed;
$text-color: #4b4f54;
$text-color-light: #e9e9e9;
$border-color: #e6e6e6;
$yellow: #dda951;

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html,
body,
button,
input,
select,
textarea {
  font: 400 62.5% "Proxima Nova", sans-serif;
  color: $text-color;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $dark-blue;
  font-size: 18px;
  line-height: 1.4;
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $blue;
  text-shadow: none;
}

::selection {
  background: $blue;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $text-color-light;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: bottom;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

input,
textarea,
button,
a {
  transition: 0.2s color ease, 0.2s background ease;

  &:focus {
    outline: 1px auto -webkit-focus-ring-color;
  }
}

ul,
ol {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

a:not(.button, .logo, .title, .similar-post)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $yellow;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:not(.button, .logo, .title, .similar-post):hover::before {
  transform: scaleX(1);
}

a {
  color: $yellow;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  &:hover {
    color: darken($yellow, 5%);
  }
}

p {
  margin-bottom: 20px;
}

blockquote {
  border-left: 4px solid $text-color;
  font-style: italic;
  padding: 10px 15px;
  margin-bottom: 20px;
  color: $text-color;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

::selection {
  background: $blue;
  color: $white;
  text-shadow: none;
}
::-moz-selection {
  background: $blue;
  color: $white;
  text-shadow: none;
}
::-webkit-selection {
  background: $blue;
  color: $white;
  text-shadow: none;
}

/* ==========================================================================
   Typography styles
   ========================================================================== */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
  line-height: 1.3;
  margin: 40px 0 10px;
}
h1,
.alpha {
  font-size: 40px;
  margin: 0 0 20px;
}

h2,
.beta {
  font-size: 30px;
}

h3,
.gamma {
  font-size: 26px;
}

h4,
.delta {
  font-size: 22px;
}

h5,
.epsilon {
  font-size: 20px;
}

h6,
.zeta {
  font-size: 18px;
}
