/*
 * BUTTON
 */
.button {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b1b1b1;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 13px 23px 13px 26px;
  border-radius: 26px;
  &:hover {
    border-color: rgba(0,0,0,0.25);
    color: #777;
  }
  img {
    width: 18px;
  }
}


/*
 * HEADER
 */
.header {
  padding: 50px 0;
  z-index: 5;
  text-align: center;
  background: $blue;
  color: $text-color-light;
  a {
    color: $yellow;
  }
  &__img {
    img {
      max-width: 100px;
    }
  }
  &__bio {
    max-width: 500px;
    margin: 25px auto 0;
  }
  &__follow {
    height: 26px;
  }
}

/*
 * NAV
 */
.nav {
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px 3px 0 0;
  background: $dark-blue;
  text-align: center;
  text-transform: uppercase;
  ul {
    margin: 0;
  }
  li {
    display: inline-block;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    display: block;
    padding: 30px 15px;
    font-size: 14px;
    @media screen and (max-width: 500px) {
      padding: 15px 0;
    }
    &:hover {
      color: $yellow;
    }
  }
}

/**
 * FOOTER
 */
.footer {
  margin: 50px 0;
  text-align: center;
  color: $white;
  &__copyright {
    margin: 0 0 10px;
  }
  &__links {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 0 5px;
      a {
        display: block;
        img {
          opacity: .9;
          width: 18px;
        }
      }
    }
  }
}

/**
 * POSTS
 */
.posts {
  margin: 0 5%;
}
.post {
  max-width: 700px;
  margin: 0 auto 40px;
  &.single {
    ul {
      list-style: square;
      margin: 15px 0 30px 15px;
      li {
      }
    }
    p{
      text-align: justify;
    }
  }
  &.not-found {
    background: url('../img/404.png') center top no-repeat;
    background-size: contain;
    min-height: 300px;
    padding: 100px 0 0;
  }
  &.about{
    background: url('../img/about.png') center top no-repeat;
    background-size: contain;
    min-height: 550px;
    padding: 200px 0 0;
  }
  &.single {
    ol {
      list-style: decimal;
      margin: 15px 0 50px 20px;
      li {
        margin: 8px 0;
      }
    }
  }
  &__header {
    text-align: center;
  }
  &__title {
    @media screen and (max-width: 850px) {
      font-size: 34px;
    }
    @media screen and (max-width: 500px) {
      font-size: 28px;
    }
    a {
      color: $dark-blue;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
    }
  }
  &__content {
    margin: 25px 0;
  }
  &__ad {
    margin: 0 0 25px;
    @media screen and (max-width: 380px) {
      display: none;
    }
  }
  &__meta {
    font-size: 14px;
    color: #b1b1b1;
    font-style: italic;
    a {
      color: $yellow;
    }
  }
  &__button {
    text-align: center;
    margin: 25px 0 0;
  }
}

.pagination {
  color: $white;
  background: $blue;
  text-align: center;
  margin: 0 -90px -90px;
  padding: 20px;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  @media screen and (max-width: 860px) {
    margin: 0 -50px -50px;
  }
  @media screen and (max-width: 500px) {
    margin: 0 -15px -50px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 10px 0 0;
      a {
        color: $white;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

.content {
  background: $white;
  margin: 0 auto;
  padding: 90px;
  overflow-x: hidden;
  @media screen and (max-width: 850px) {
    padding: 50px 40px;
  }
  @media screen and (max-width: 500px) {
    padding: 45px 15px;
  }
}

/**
 * AUTHOR
 */
.author {
  border-top: 1px solid $text-color-light;
  max-width: 700px;
  padding: 30px 0;
  margin: 0 auto;
  h3 {
    margin: 10px;
  }
  @media screen and (max-width: 500px) {
    text-align: center;
  }
  &__content {
    position: relative;
    margin: 0 auto;
  }
  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 100px;
    border-radius: 50%;
    @media screen and (max-width: 500px) {
      position: static;
      margin: 0 auto;
    }
  }
  &__bio {
    padding: 0 0 0 120px;
    @media screen and (max-width: 500px) {
      padding: 0;
    }
  }
  &__name {
    color: $text-color;
  }
}

/**
 * SIMILAR
 */
.similar {
  background: #f5f5f5;
  padding: 60px 90px;
  margin: 0 -90px;
  &__content {
    max-width: 700px;
    margin: 0 auto;
  }
  &__title {
    margin: 0;
  }
  &__icon {
    position: absolute;
    top: 40px;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    @media screen and (max-width: 500px) {
      display: none;
    }
    img {
      margin: 8px 0 0;
    }
  }
  &__posts {
    h3 {
      margin: 10px 0;
    }
    li {
      position: relative;
      border-bottom: 1px solid rgba(0,0,0,.05);
      &:last-child {
        border-bottom: 0;
        a {
          padding: 25px 0 0 65px;
          @media screen and (max-width: 500px) {
            padding: 25px 0 0;
          }
        }
      }
      a {
        color: #444;
        display: block;
        padding: 25px 0 25px 65px;
        @media screen and (max-width: 500px) {
          padding: 25px 0;
        }
        &:hover {
          color: #888;
        }
        h3 {
          span {
            font-family: 'Proxima Nova', serif;
            letter-spacing: 0.5px;
            display: block;
            font-size: 14px;
            font-weight: 300;
            color: #b1b1b1;
            font-style: italic;
          }
        }
      }
    }
  }
}

.disqus {
  max-width: 700px;
  margin: 60px auto 0;
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#pagination {
  overflow: hidden;
  &-prev {
    float: left;
  }
  &-next {
    float: right;
  }
}

.twitter-follow-button {
  visibility: hidden;
  &[data-twttr-rendered=true] {
    visibility: visible;
  }
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  th {
    padding: 5px 15px;
    text-align: left;
    background: #252525;
    color: #fff;
  }
  tr {
    &:nth-child(2n) {
      background: #f5f5f5;
    }
  }
  td {
    padding: 5px 15px;
  }
}

.speaking {
  &__grid {
    ul {
      list-style: none !important;
      overflow: hidden;
      li {
        float: left;
        max-width: 25%;
        img {
          min-width: 100%;
        }
      }
    }
  }
  &__list {
    ul {
      list-style: none;
      overflow: hidden;
      li {
        padding: 20px;
        border-bottom: 1px solid #e5e5e5;
        &:first-child {
          border-top: 1px solid #e5e5e5;
        }
      }
    }
  }
}

.oss {
  margin: 25px 0;
  position: relative;
  list-style: none !important;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  &__item {
    overflow: hidden;
    background: #f9f9f9;
    border-radius: 3px;
    -webkit-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    margin: 0 0 10px;
    h3 {
      margin: 0;
      padding: 5px;
      text-align: center;
      background: #f1f1f1;
    }
    p {
      font-size: 12px;
      padding: 5px 20px;
    }
  }
  &__star {
    text-align: center;
  }
}
